@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Jost", sans-serif;
}

body{
    --lg-lightcolor: linear-gradient(to right, rgba(240, 232, 231, 0.633), rgba(174, 57, 228, 0.585));
}

.main_div{
    width: 100vw;
    height: 100vh;
    background-image: var(--lg-lightcolor), url('pexels-skitterphoto-691467.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid; /* to place div in center*/
    place-items: center;   
}

.music_container {
    width: 35rem;
    height: 55rem;
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    border-radius: 20%;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
}

.music_container #title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0; /* top bottom right left */
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(7, 238, 61, 0.3);
}

.music_container #artist {
    color: #2c2b2b;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

.img_container {
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img {
    /* make the img object fir and circle */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(228, 20, 20, 0.4);
}

.music_controls {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
}

.music_controls .fas {
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4)); /* drop shadow for gvj or tranparent images */
}

.music_controls .main_button {
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: #111;
    color: #f6f6f6;
    /* add display flex to center the icon */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.music_controls .fas:hover{
    color: white;
}

.music_controls .fa-play:hover {
    background-color: #fce6e6;
    color: rgb(201, 48, 48);
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}

/* add anime class t oanimate */
.anime {
    animation: rotatePlayer 5s linear infinite;
}

@keyframes  rotatePlayer {
    fromm { transform: rotate(0deg); }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes  rotatePlayer {
    fromm { transform: rotate(0deg); }
    to {
        transform: rotate(360deg);
    }
}

/* progress bar*/  

.progressbar_container {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-top: 1rem;
}

.progress_div {
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    transition: all is linear;
    -moz-transition: all is linear;
    -o-transition: all is linear;
    -webkit-transition: all is linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #037603, #c4ce0e, red);
    border-radius: 4rem;
    /*transition: width is linear;
    -moz-transition: width is linear;
    -o-transition: width is linear;
    -webkit-transition: width is linear;*/
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    
}

.progress_duration_meter{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

/* volume*/




  